* {
	box-sizing: border-box;
}

body {
	background-image: url('../images/topography.png'); 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
} 

h1 {
	font-size: 32px;
	color: #ffffff;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
} 

h6 {
	font-size: 12px;
	color: #ffffff;
}

a, p, ul, ol {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 24px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: ##4aaaa5;
}

p {
	padding-bottom: 8px;
}

header {
	display: inline-flex;
	align-content: center;
	line-height: 40px; 
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;
}

nav {
	padding: 15px;
}

nav ul, aside li {
	list-style: none;
	text-align: center;
}

nav li, aside li {
	display: inline-block;
	padding-right: 5px;
}

nav li.lastchild, aside li.lastchild {
	padding-right: none;
}

main {
	margin-bottom: 30px;
}

section {
	
	margin-top: 30px;
}

aside {
	float: right;
}

footer {
	text-align: center;
	background-color: #666666; 
	line-height: 40px;
	padding: 20px;	
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 5px;
	overflow: visible;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}


.width960 {
	width: 960px;
}

.width650 {
	width: 650px;
}

.width600 {
	width: 600px;
}

.width550 {
	width: 550px;
}

.width270 {
	width: 270px;
}

.floatleft {
	float: left;
}

.disinlnblock {
	display: inline-block;
}

.margintop20 {
	margin-top: 20px;
}

.marginlft20 {
	margin-left: 20px;
}

.marginrht20 {
	margin-right: 20px;
}

.contentbdr {
	border: 1px solid #dddddd;
}

.contentbkg {
	background-color: #ffffff;
}

.contentpad {
	padding: 25px;
}

.logo {
	width: 300px;
	background-color: #4aaaa5; 
	text-align: center;
	padding: 10px;
	color: #ffffff;  
} 

.contimg {
	margin-right: 15px; 
}

.icon {
	width: 50px;
	margin: 0 10px 0 0;
} 

.grybdr {
	border-bottom: 2px solid #dddddd;
	padding-bottom: 10px;
} 

.submitbtn {
	width: 125px;
	height: 35px;
	color: #ffffff;
	background-color: #4aaaa5; 
	border: none;
	font-size: 18px;
}

.portsect {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.imgport {
	width: 250px;
	position: relative;
}

.imgport img {
	width: 250px;
}

.portlabel {
	width: 250px;
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	padding: 25px;
	position: absolute;
	bottom: 20px;
}